/* =================================829===================================== */
@media (max-width: 829px) {
    .home-descr {
        background-color: rgba(0, 0, 0, .4);
        color: #fff;
    }
    .home {
        padding: 115px 0 37px 0;
        margin-bottom: 50px;
    }
}
/* =================================450===================================== */
@media (max-width: 450px) {
    .home-title {
        margin-bottom: 9px;
        font-size: 41px;
        line-height: 50px;
    }
    .home-descr {
        margin-bottom: 13px;
    }
    .home-form {
        max-width: 326px;
        padding: 8px 8px 8px 16px;
        margin-bottom: 20px;
        box-sizing: border-box;
        background-color: #fff;
    }
}
/* =================================356===================================== */
@media (max-width: 356px) {
    .home-search {
        max-width: 180px;
    }
}